.v-text-field--outlined.v-input--dense .v-label {
    top: 6px;
  }
  
  .v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled
    > .v-input__control
    > .v-input__slot,
  .v-text-field--filled.v-input--dense.v-text-field--outlined
    > .v-input__control
    > .v-input__slot,
  .v-text-field--filled.v-input--dense.v-text-field--single-line
    > .v-input__control
    > .v-input__slot,
  .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled
    > .v-input__control
    > .v-input__slot,
  .v-text-field--full-width.v-input--dense.v-text-field--outlined
    > .v-input__control
    > .v-input__slot,
  .v-text-field--full-width.v-input--dense.v-text-field--single-line
    > .v-input__control
    > .v-input__slot,
  .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled
    > .v-input__control
    > .v-input__slot,
  .v-text-field--outlined.v-input--dense.v-text-field--outlined
    > .v-input__control
    > .v-input__slot,
  .v-text-field--outlined.v-input--dense.v-text-field--single-line
    > .v-input__control
    > .v-input__slot {
    min-height: 30px;
  }
  
  .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__append-inner,
  .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__append-outer,
  .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__prepend-inner,
  .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__prepend-outer,
  .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__append-inner,
  .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__append-outer,
  .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__prepend-inner,
  .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
    .v-input__prepend-outer {
    margin-top: 5px;
  }
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0px;
  }
  .v-icon.v-icon {
    font-size: 18px;
  }
  .v-input--selection-controls {
    margin-top: 0px;
    padding-top: 0px;
  }